html,
body {
  height: 100%;
}

$dark-text-emphasis: #fff;
$card-color: #fff;

$primary: #c523bd;
$secondary: #AD84A7;
$light: #E2E0F4;

$input-border-radius: 15px;
$input-border-width: 3px;
$input-bg: rgba(255, 255, 255, 0.1);
$input-padding-y: 0.75rem;

@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";

.card-title {
  text-transform: uppercase;
}

#sidebar {
  box-shadow: 0 0 1rem rgba(#fff, 0.1);
}

.card {
  border-radius: 15px;
  box-shadow: 0 0 1rem rgba(#fff, 0.1);
}

.credit-card {
  background-image: linear-gradient(
    to right,
    $secondary 0%,
    lighten($secondary, 5%) 51%,
    $secondary 100%
  );
  width: 30em;
  height: 20em;
  border-radius: 1em;
  transform: rotateZ(0deg);
  margin: auto;
  transition: 0.5s;
  background-size: 200% auto;

  .card-number {
    color: white;
    padding: 8em 0 0 2em;
    font-size: 1.5em;
  }

  .card-date {
    color: white;
    padding: 1em 0 0 3em;
    font-size: 1em;
  }
}

.credit-card:hover {
  background-position: right center; /* change the direction of the change here */
}
